* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Symbols Nerd Font Mono", "Manrope Medium";
    font-size: 16px;
}

@import "colors.css";

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}
*/

/* you can set a style on hover for any module like this */
/*#pulseaudio:hover {
    background-color: transparent;
}*/

#workspaces button {
    padding: 0px 10px;
    background-color: transparent;
    color: @primary;
    transition: all 0.05s ease;
}

#workspaces button.active {
  background-color: @on_primary;
  color: @on_surface;
  margin: 0px 3px;
  border-radius: 6px;
  opacity:1.0;
}

/* #workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}
*/

#workspaces button.focused {
    background-color: @on_primary;
    margin: 0px 3px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-arch {
  background-color: @background;
  border: 2px solid @on_primary_container;
  border-radius: 8px;
  padding: 0px 0px;
  margin-left: 5px; 
  color: @primary;
}
#custom-power {
  background-color: @background;
  border: 2px solid @on_primary_container;
  border-radius: 8px;
  padding: 0px 1px;
  color: @primary;
}
#custom-swaync {
  background-color: @background;
  border: 2px solid @on_primary_container;
  border-radius: 8px;
  padding: 0px 0px;
  margin-right: 5px;
  color: @primary;
}
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window {
  background-color: @background;
  color: @primary;
  padding: 0px 5px;
  border: 2px solid @on_primary_container;
  border-radius: 8px;
}

window#waybar.empty #window {
  background: none;
  border: none;
}

#workspaces {
    font-family: Ubuntu Mono Nerd Font;
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 8px;
    margin-left: 3px;
    margin-right: 5px;
    padding: 0px 3px;
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left {
  background-color: @background;
  border: 2px solid @on_primary_container;
  border-radius: 12px; 
  padding: 0px 3px;
}
*/

/* If workspaces is the rightmost module, omit right margin */
/*.modules-right { 
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 12px;
}
*/

#clock {
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 8px;
    color: @primary;
    margin-left: 3px;
    margin-right: 0px;
    padding: 0px 7px;
}

#battery {
    padding: 0px 5px;
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 8px;
    margin-left: 5px;
    color: @primary;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    padding: 0px 5px;
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 8px;
    color: @primary;
}

/*#network.disconnected {
    background-color: transparent;
}*/

#pulseaudio {
    padding: 0px 5px;
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 8px;
    color: @primary;
}

/*#pulseaudio.muted {
    background-color: transparent;
    color: @primary;
}*/

#wireplumber {
    background-color: transparent;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @background;
    padding: 0px 5px;
    margin-right: 4px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    padding: 0px 3px;
    background-color: @background;
    border: 2px solid @on_primary_container;
    border-radius: 8px;
    margin-right: 3px;
    color: @primary;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
